
body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: "Oxygen", sans-serif;
}

/* The header :: The container is inside the Navigation Bar */
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img {
  background: url('images/logo.png') no-repeat;
  width: 120px;
  height: 120px;
  margin: 10px 15px 10px 0;
 
}