
body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: "Oxygen", sans-serif;
}

/* The header :: The container is inside the Navigation Bar */
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}
/*Positioning the Restaurant's name*/
.navbar-brand {
	padding: 0px 0px 50px;
}
/*The certified word*/
.sp {
	padding: 0px 0px 50px 10px;
}
/* This is the Restaurant's name */
.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 27px;
    margin-bottom: 0px;
    line-height: .75em;
}

/*This is to remove the underlined feature*/
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

/*The Logo image*/
#logo-img {
  background: url('images/logo.png') no-repeat;
  width: 80px;
  height: 80px;
  margin: 20px 15px 10px 0;
 }

.navbar-brand p {
  color: #000;
  /*text-transform: lowercase;
  text-shadow: 1px 1px 1px maroon;*/
  font-size: 1.2em;
  float: center;
  padding-top: 4px;
  font-weight: bold;
  
}

.navbar-brand p span {
	vertical-align: middle;
	padding-right: 10px;
}

.kosher {
	right: 5px;

}
#pull-left {
  top: 10px;
}

#nav-list {
  margin-top: 10px;
  font-weight: bold;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: : 1.8em;
}
#phone {
  margin-top: 5px;
  font-weight: bold;
}
#phone a {
  text-align: right; /* Phone number*/
  padding-bottom: 0;
}
#phone div {  /*We Deliver*/
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
  font-weight: bold;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
   border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
}
.nav span {
	width: 10px;
	height: 10px;
}
.glyphicon {
	font-size: 20px;
	float: center;
}
/*For the Glyphicon and the Menu to have same size*/
#collapsable-nav a span {
	font-size: 1.5em;
}
/*THE END O F THE H EADER*/

/*********************** Large devices only **************/
@media (min-width: 1200px) {

}

/*********************** Medium devices only *************/
@media (min-width: 992px) and (max-width: 1199px) {
	/* Header */
	#logo-img {
    background: url('images/logo.png') no-repeat;
    width: 70px;
    height: 70px;
    margin: 20px 15px 10px 0;
}


/*********************** Small devices only **************/
@media (min-width: 768px) and (max-width: 991px) {
}


/*********************** Extra small devices only **********/
@media (min-width: 767px) {
	/** Header **/
	.nav-brand {
		padding-top: 10px;
		height: 80px;
	}

	.nav-brand h1 {      /*The restaurant name*/
		padding-top: 10px;
		font-size: 5vw; /* 1vw = 1% of viewport width, it is responsive*/
	}

	.navbar-brand {    /*Kosher certification*/
		font-size: .6em;
		margin-top: 12px;
	}
	.navbar-brand p img {    /*Star-K*/
		height: 20px;
	}
}

